@import "../../../../src/style";

%m-20 {
  margin: 20px;
}

.pokemon-description {
  h2 {
    text-align: center;
    font-size: 1.8rem;
    color: mediumslateblue;
  }

  h3 {
    text-align: center;
    margin: 10px 0 25px;
    justify-content: space-between;
  }

  .poke-info {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    .poke-img {
      text-align: center;

      img {
        @extend %m-20;
        width: 300px;
      }
    }

    .poke-descr {
      width: 320px;
      @extend %border-T-B;
      padding: 20px 40px;
      @extend %m-20;

      p {
        margin: 10px 0;
        width: 60px;
        display: inline-block;
      }

      span {
        display: inline-block;
        padding: 5px 10px 8px;
        font-weight: bold;
      }

      .poke-abilities, .poke-types {
        display: flex;

        span {
          text-align: center;
          border: 1px solid;
          border-radius: 5px;
          margin: 5px 5px 5px 10px;
        }
      }

      .poke-abilities span {
        border-color: hotpink;
        color: hotpink;
      }

      .poke-types span {
        border-color: MediumSlateBlue;
        color: MediumSlateBlue;
      }
    }

    .poke-stat {
      grid-column: 1/3;
      @extend %m-20;

      .stats-wrapper {
        text-align: center;
        display: grid;
        grid-template-columns: repeat(6, 1fr);

        .canvas {
          margin: 0 auto;
          height: 200px;
          width: 50px;
          background-color: MediumSlateBlue;
        }
      }
    }
  }
}

@media screen and (max-width: 1180px) {
  .pokemon-description {
    .poke-info {
      .poke-img {
        img {
          width: 250px;
        }
      }

      .poke-descr {
        width: 260px;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .pokemon-description {
    .poke-info {
      display: flex;
      flex-wrap: wrap;

      .poke-img {
        width: 100%;

        img {
          width: 320px;
        }
      }

      .poke-descr {
        width: 100%;
      }
    }
  }
}

@media screen and (max-width: 530px) {
  .pokemon-description {
    .poke-info {
      padding: 0 10px;

      .poke-img {
        img {
          width: 250px;
        }
      }

      .poke-stat {
        .stats-wrapper {
          .canvas {
            width: 30px;
          }

          p:nth-child(2) {
            transform: rotate(-60deg);
          }
        }
      }
    }
  }
}
