@import "../../../../src/style";

.evolution-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  text-align: center;
  padding-bottom: 20px;

  h3 {
    grid-column: 1/4;
  }

  .evolution-item {
    text-align: center;
    width: 75%;
    margin: 0 auto;

    img {
      width: 250px;
    }

    .evolution-step {
      background-color: #3f51b5;
      border-radius: 10px;
      color: #ffff52;
      padding: 10px;
      font-size: 1.4rem;
    }

    p:last-child {
      font-weight: bold;
      font-size: 1.4rem;

      a {
        color: mediumslateblue;
        text-decoration: none;
        border: 1px solid mediumslateblue;
        border-radius: 10px;
        padding: 6px 15px;
        transition:all 700ms;
      }

      a:hover {
        color: white;
        background-color: rgb(123,104,238);
      }

      .pointer-none {
        pointer-events: none;
        color: white;
        background-color: rgb(123,104,238);
        border: 1px solid mediumslateblue;
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .evolution-wrapper {
    .evolution-item {
      img {
        width: 200px;
      }
    }
  }
}


@media screen and (max-width: 768px) {
  .evolution-wrapper {
    display: block;

    .evolution-item {
      img {
        width: 250px;
      }

      .evolution-step {
        width: 100%;
      }
    }
  }
}