$margin-header: 40px;
$paddingWrapperX: 40px;
$paddingWrapperY: 10px;

.mt-100{
    margin-top: 100px;
}

.mx-40{
    margin-left: $margin-header;
    margin-right: $margin-header;
}

.px-40{
    padding-left: $paddingWrapperX;
    padding-right: $paddingWrapperX;
}

.py-10{
    padding-top: $paddingWrapperY;
    padding-bottom: $paddingWrapperY;
}

h3{
    font-size: 1.5rem;
}

